:root {
    --color-primary: #155dfc;
    --color-dark: #0f172b;
    --color-text: #8d8d8d;
    --color-fondo: #F9FAFC;
    --font-primary: "Inter", sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);

}

body {
    background-color: var(--color-fondo);
    font-family: var(--font-primary);
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--color-fondo);

}

.highlight {
    color: var(--color-primary);
}

.course-tag {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}


.footer-logo {
    width: 150px;
}


.hero {
    background-color: #F9FAFC;
    background-image: url('../img/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}
.hero-content, .courses {
    background-color: var(--color-fondo);
}


/*ESTILOS BOTONES*/
.btn-primary {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-primary);
    padding: 0.7em 2.5rem;
}
.btn-primary:hover {
    background-color: var(--color-fondo);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-primary);
    padding: 0.7em 2.5rem;
}
.btn-secondary {
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-dark);
    background-color: rgba(255, 255, 255, 0.242);
    padding: 0.7em 2.5rem;
}
.btn-secondary-bg {
    color: var(--color-fondo);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-dark);
    background-color: var(--color-dark);
    padding: 0.7em 2.5rem;
}
.btn-secondary-bg:hover{
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-dark);
    background-color: rgba(255, 255, 255, 0.242);
    padding: 0.7em 2.5rem;
}
.btn-secondary:hover {
    color: var(--color-fondo);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--color-dark);
    background-color: var(--color-dark);
    padding: 0.7em 2.5rem;
}




.category-card:hover {
    border: 2px solid var(--color-primary);
    box-shadow: 10px -10px 0px var(--color-primary);
    transition: 1s;
}