@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Estilos globales */

:root {
    --color-primary: #155dfc;
    --color-dark: #0f172b;
    --color-text: #8d8d8d;
    --color-fondo: #F9FAFC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: "Montserrat", serif;    
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
 }

header {
    background-color: var(--color-fondo);

}

.highlight {
    color: var(--color-primary);
}

.course-tag {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.category-icon:hover {
    box-shadow: 10px -10px 0px var(--color-primary);
    transition: 1s;
}

.footer-logo {
    width: 150px;
}


.hero,
.courses,
.reviews {
    background-color: #F9FAFC;
    background-image: url('../img/background.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
}

.course {
    background: #F9FAFC;
}

.pago {
    padding: 50px;
}

.bg-oscuro {
    background-color: var(--color-dark);
}

.courses {
    height: auto;
}

.hero h1,
.hero p {
    max-width: 60ch;
}

.hero-content,
.courses,
footer {
    background-color: var(--color-fondo);
}

.bg-azul {
    background-color: var(--color-primary);
}

/*ESTILOS BOTONES*/
.btn-light {
    background-color: var(--color-fondo);
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-fondo);
    padding: 0.7em 2.5rem;
}

.btn-light:hover {
    background-color: var(--color-dark);
    color: var(--color-fondo);
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-fondo);
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-primary);
    padding: 0.7em 2.5rem;
    text-decoration: none;
    width: auto;
}

.btn-primary:hover {
    background-color: var(--color-fondo);
    color: var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-primary);
}

.btn-secondary {
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-dark);
    background-color: rgba(255, 255, 255, 0.242);
    padding: 0.7em 2.5rem;

}

.btn-secondary-bg {
    color: var(--color-fondo);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark);
    padding: 0.7em 2.5rem;
}

.btn-secondary-bg:hover {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    background-color: rgba(255, 255, 255, 0.242);
}

.btn-secondary:hover {
    color: var(--color-fondo);
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark);
}


.typing-container {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid var(--color-primary);
    width: 20ch;
    line-height: 80px;
    animation: typing 2s steps(24), blink-caret 0.75s step-end infinite;
}

.cursor {
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color-primary);
    }
}


.review:hover {
    box-shadow: 10px 10px 25px #CAE2FA, -10px -10px 25px #FAE4F9;

}

.courses .card {
    transition: transform 0.3s;
    border-radius: 30px;
}
.courses .card:hover {
    transform: scale(1.05);
}
.courses .card-img-top {
    object-fit: cover;
    height: 200px;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    color: white;
}



 
.nav-link:hover,
.nav-link.active {
    color: var(--bs-primary);
}

.video {
    box-shadow: 0px 0px 0px 5px #e0e0e0;

}

#queryBar{
    input,select{
        border-right:none;
        background-image: none;
    }
    .input-group-text{
        border-left:none;
        background-color:#ffffff;
    }
    input,input::placeholder,select,.input-group-text,a{
        border-color:#A7B6CE;
        color:#8E97A5;
    }
} 

.boton-precio{
    width:105px;
}